form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
textarea {
  max-width: 100%;
}

.question-open label {
  display: block;
  margin-bottom: 10px;
}

fieldset {
  max-width: 700px;
  padding: 0;
  border: none;
}

.correct {
  color: green;
}
.incorrect {
  text-decoration: line-through;
}
.usertext {
  padding: 10px;
  background-color: lightgray;
  font-style: italic;
  max-width: 700px;
}
